<div class="post-container" *ngFor="let post of posts">
  <div>
    <table>
      <tr>
        <td><img class="profile-pic-actual" src="assets/profilepic.png" />
        </td>
        <td><p class="author-name">{{ post.author }}</p>
        </td>
      </tr>
    </table>
  </div>

<div>
  <p class="post-text">
    {{ post.description }}
  </p>
</div>
  <div class="dropdown settings-btn">
    <button
      class="btn btn-secondary btn-warning dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
    >
      Settings
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Edit</a>
      <a class="dropdown-item" href="#" (click)="deletePost(post.id)">Delete</a>
    </div>
  </div>
  <div class="">
    <img class="post-img-size" src="{{ post.imageUrl }}" />
  </div>
</div>
