<div class="sidebar">
  <aside>
    <h2>Explore</h2>
    <hr style="background-color: white" />
    <h5>Your Topics</h5>
    <ul>
      <li class="sidebar-item">
        <a
          class="category-link"
          routerLink="/posts"
          routerLinkActive="active-link"
        >
          All posts
        </a>
      </li>
      <li class="sidebar-item" *ngFor="let category of userSubscriptions">
        <a
          class="category-link"
          routerLink="/category/{{ category.postCategory.id }}"
          routerLinkActive="active-link"
        >
          {{ category.postCategory.categoryName }}
        </a>
      </li>
      <li class="sidebar-item mt-3">
        <a routerLink="/explore/categories">
        <h5>Explore Topics <i class="fas fa-arrow-right"></i></h5>
      </a>
      </li>
    </ul>
    <h5>Following</h5>
    <ul>
      <li class="sidebar-item" *ngFor="let user of userList">
        <a class="category-link" routerLinkActive="active-link">
          {{ user.username }}
        </a>
      </li>
      <li class="sidebar-item mt-3">
        <h5>Explore Users <i class="fas fa-arrow-right"></i></h5>
      </li>
    </ul>
  </aside>
</div>
