<div class="login-wrapper">
  <div class="login-box">
    <a class="a1" routerLink="/login">
        <h3>Sign in</h3>
    </a>
    <a class="a2" routerLink="/signup">
        <h3>Sign up</h3>
    </a>
      <form #login="ngForm">
          <div class="credentials">
                <h3><i class="fas fa-user"></i>Username</h3>
                <input name="username" class="input-box mb-3" type="text" [(ngModel)]="username">
                <h3><i class="fas fa-key"></i>Password</h3>
                <input name="password" class="input-box" type="password" [(ngModel)]="password">
          </div>
      </form>
      <hr class="bottom-hr">
      <a class="a3" routerLink="">Forgot password?</a>
    <button (click)="handleLogin()" class="btn btn-success btn-to-bottom">
        SIGN IN
      </button>
  </div>
</div>