<form #userPost="ngForm">
  <div class="create-post-container">
    <img class="profile-pic" src="{{ currentUser.profilePic }}" />
    <!-- MODAL FOR IMAGE CONTENTS -->
    <h5 class="push-to-right">Posting to: {{ postingToCategory }} </h5>
    <img class="create-post-image" src="{{ postImageUrl }}"/>


    <button
      type="button"
      data-toggle="modal"
      data-target="#exampleModalCenter2"
      class="btn btn-parimary btn-warning pic-upload"
    >
      UPLOAD A PICTURE<i class="fas fa-check" *ngIf="postImageUrl !== ''"></i>
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter2"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-h5">Upload an link to image</h5>
          </div>
          <div class="modal-body">
            <!-- MODAL BODY -->

            <input type="text" name="description" [(ngModel)]="postImageUrl">

            <!-- MODAL END -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <button
      (click)="resetValues()"
      
      class="btn btn-parimary btn-success post-button"
    >
      POST
    </button>

    <!-- MODAL FOR DESCRIPTION CONTENTS -->

    <!-- Button trigger modal -->
    <button data-toggle="modal" data-target="#exampleModalCenter">
      <span
      contenteditable="true"
      style="
        display: block;
        background-color: white;
        border: solid 1px white;
        min-width: 200px;
        max-width: 650px;
      "
      class="post-input"
    >
    {{ postDescription }}
  </span>
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModalCenter"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-h5">Create a post</h5>
          </div>
          <div class="modal-body">
            <!-- MODAL BODY -->

            <input type="text" name="description" [(ngModel)]="postDescription">
          

            <!-- MODAL END -->
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-primary"
              style="width: 50px"
              data-dismiss="modal"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
