/* ESSENTIALS */

.main-content {
  height: auto;
  padding: 0 15px;
  margin: 20px auto;
  max-width: 1000px;
}

.width-100 {
  width: 100%;
  height: 30px;
}

.active-link {
  color: red;
}

/* BODY */

html body{
  background-color: #171717;
}

/* BODY END */

/* NAV BAR */
.app-logo {
  width: 3%;
  margin-right: 10px;
}
.navbar-color{
  background-color: red;
}

.center {
  margin: auto;
}

/* NAV BAR END*/

/* NAV SIDEBAR */

.sidebar {
  position: fixed;
  position: relative;
  padding-top: 1%;
  width: 160px;
  float: left;
  background-color: #171717;
  margin-right: 50px;
}

.sidebar ul li {
  width: 140%;
}

.vertical-line {
  border-left: 6px solid black;
  height: 500px;
}

.sidebar-item {
  height: 35px;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
 

.sidebar h4 {
  text-align: center;
}

.sidebar-item a {
  width: 100% !important;
  text-decoration: none !important;
  color: white;
}

.sidebar ul {
  padding: 0;
  width: 70%;
}


/* NAV SIDEBAR END */

.category-link {
  color: #EDEDED;
}

.category-link:hover {
  color: #DA0037;
  /* animation-name: text-pop-up-top;
  animation-duration: 0.5s; */
}

/* CREATE A POST WINDOW */

.post-input {
  position: absolute;
  top: 10px;
  left: 70px;
}

.category-selection {
  position: absolute;
  right: 0px;
}

body.modal-open {
  overflow: hidden;
}

.pic-upload {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 50%;
}

.post-button {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 50%;
}

.hr-section {
  position: relative;
  top: 20px;
  width: 66%;
  margin: auto;
  background-color: white;
}

.table-head {
  height: 2px;
  color: #EDEDED;
}

.create-post-container {
  position: relative;
  top: 15px;
  margin: 20px auto;
  min-height: 150px;
  background-color:#444444;
  border-radius: 15px;
  max-width: 1000px;
}

.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.profile-pic {
  position: absolute;
  left: 10px;
  top: 10px;
  width: 50px;
  border-radius: 10px;
}

/* CREATE A POST WINDOW END */

/* ACTUAL POST */

.author-name {
  position: relative;
  left: 15px;
  font-style: initial;
  color: white;
}

.post-container {
  position: relative;
  background-color: red;
  height: auto;
  background-color:#444444;
  border-radius: 15px;
  margin: 20px auto;
  max-width: 1000px;
  margin-top: 50px;
}


.post-img-size {
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 15px 0;
}


.post-text {
  color: white;
  position: relative;
  top: 25px;
  word-wrap: break-word;
  font-size: medium;
  left: 10px;
}

.profile-pic-actual {
  position: relative;
  width: 50px;
  top: 10px;
  left: 10px;
}


/* ACTUAL POST END */

/* BUTTONS */

.settings-btn {
    display: inline-block;
    position: absolute !important;
    right: 15px !important;
    top: 10px;
}


/* MEDIA RULES */

@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }  

  .post-container {
    width: 60%;
  }

  .create-post-container {
    width: 80%;
  }

  .post-text {
    font-size: larger;
  }
}

@media (min-width: 768px) and (max-width: 600px) {
  .collapse {
      display: none !important;
  }
}

/* MOBILE */

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }  

  .post-container {
    width: 100%;
  }

  .create-post-container {
    width: 100%;
  }

  .post-text {
    font-size: small;
  }

  .post-img-size {
    height: 80% !important;
  }
}